.kepkeret {
    width: 800px;
    font-size: 15pt;
    padding: 0px 5px 5px;
    margin-left: 10px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px gray;
    border: 2px solid black;
    font-style: italic; 
    margin-block-end: 10px; 
}

h1{
    color: gold;
    text-align: center;
    font-size: 40pt;
    font-family:'Times New Roman', Times, serif;
    background-color: dimgrey;
}

p{
    text-align: justify; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 20pt;

}

li{
    font-size: 20pt;
}

.kepek{
    float: right
}

.belsokepkeret {
    width: 800px;
    font-size: 15pt;
    padding: 0px 5px 5px;
    margin-left: 10px;
    border-radius: 25px;
    overflow: hidden;
    font-style: italic; 
    margin-block-end: 10px; 
}

