h1{
    color: gold;
    text-align: center;
    font-size: 40pt;
    font-family:'Times New Roman', Times, serif;
    background-color: dimgrey;
}


p{
    text-align: justify; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 24pt;
}

a{
    color: darkred;
    text-decoration: none;
}

.container{
    max-width: 1024px ;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;

}

.background div{
    
    max-width: 100%;
    height: auto;
}

.button1{
    color: gold;
    padding: 10px 60px;

}

.button2{
    color: gold;
    padding: 10px 60px;

}

.button3{
    color:gold;
    padding: 10px 60px;

}

.button4{
    color:gold;
    padding: 10px 60px;

}

.button1:hover{
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: gold;
    color: black;
}

.button2:hover{
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: gold;
    color: black;
}

.button3:hover{
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: gold;
    color: black;
}

.button4:hover{
    transition-duration: 0.4s;
    border-radius: 4px;
    background-color: gold;
    color: black;
}

.buttons{
    
    margin-right: auto;
    margin-left: auto;
}

.puskas{
    position: fixed;
    opacity: 16;
    margin-bottom: 0;
}

li{
    font-size: 34px;

}

body{
    color: black;
}

.sikerek{
    max-width: 1250px;
}

#kep{
    float: right;
    max-width: 500px;
}

span{
    font-weight: 900;
    color: darkred;
}

.kepkeret {
    width: 720px;
    text-align: center;
    font-size: 15pt;
    padding: 0px 5px 5px;
    margin-left: 10px;
    background-image: url('fatyol.png');
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 10px gray;
    border: 2px solid black;
    font-style: italic;  
  }

